{% extends "blog/base.html" %}

{% block content %}

<div class="row">
	{% for category in category_list %}
	<div class="col-sm-4">
		<div class="caption">
			<a href="{% url "blog:category_detail" category.pk %}">
				{{ category.name}}
				</a>

				{% for shop in category.shop_set.all %}
				{{shop.shop_name}}
				{% endfor %}



			
		</div>
	</div>
	{% endfor %}	
<br/>
<br/>
	<h3> Review list </h3>

	{% for review in review_list %}
		{{review.shop}} : {{review.comment}}
		<br/>
	{% endfor %}



</div>


<a href ="{% url "blog:category_new" %}" class = "btn btn-primary btn-block">카테고리 만들기</a>


{% endblock %}