{% extends "blog/base.html" %}

{% block content %}

<h1>{{ shop.shop_name }}</h1>

{{shop.created_at}}
{{shop.updated_at}}
<hr/>

<img src = "{{ shop.photo1.url }}" />

{{ shop.message|linebreaks}}

<h3>Review list</h3>
<a href ="{% url "blog:review_new" shop.category.pk shop.pk %}" class = "btn btn-primary btn-block">리뷰 쓰기</a>

<ul>
{% for review in shop.review_set.all %}
<li>
{{review.comment}} by {{review.user}} {{review.created_at}}
{% if user == review.user %}
<a href="{% url "blog:review_edit" shop.category.pk shop.pk review.pk %}"> 수정 </a>
{% endif %}


</li>
{% endfor %}
</ul>


<hr/>

<a href ="{% url "blog:shop_edit" shop.category.pk shop.pk %}"> Shop 수정하기 </a>

<br/>
<a href ="{% url "blog:category_detail" shop.category.pk %}">카테고리로 이동</a>
<br/>
<a href="{% url "blog:index" %}"> 홈으로 </a>

{% endblock %}